<nav>
	<div class="container-fluid py-2">
		<ul class="nav nav-pills gap-2">
			<li class="nav-item">
				<a class="nav-link" routerLink="/admin/hubs" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Hub</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/admin/vehicles" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Veicoli</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/admin/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Utenti</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="/admin/rentals" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Noleggi</a>
			</li>
		</ul>
	</div>
</nav>
