
.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
    background-color: transparent !important;
    color: #6c757d !important;         
    border-color: #6c757d !important;  
    box-shadow: none !important;       
}
