:host {
  display: block;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.card {
  max-height: 90vh;
  max-height: 90dvh;
  display: flex;
  flex-direction: column;
}

.card-body {
  overflow-y: auto;
}